@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.nav_label, .nav_input{
    display: none;
}
p{
    font-family: 'comfortaa', cursive;
}
h1{
    font-family: 'Poppins', sans-serif;
}
span{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
button{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
a{
    color: #3a2903;
}
@media(max-width:899px){
    body{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "navs" 
        "top" 
        "slider" 
        "footer";
    }
    header{
        grid-area: navs;
        width: 100%;
        height: 6em;
        position: fixed;
        background-color: #3a290383;
        z-index: 3;
        display: grid;
        grid-template-columns: 1.5fr 0.5fr;
        grid-template-rows: 1fr 1fr ;
        grid-template-areas: 
        "logo label"
        "nav nav"; 
    }
    .nav_logo{
        font-family: 'Poppins', sans-serif;
        background: none;
        width: 100%;
        font-size: 2.3rem;
        padding-left: 1rem;
        padding-top: 1rem;
        grid-area: logo;
        color: #f5deb3;
    }
    .nav_label{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100px;
        width: 100%;
        padding-right: 1.5rem;
        padding-top: 1.5rem;
        grid-area: label;
        z-index: 4;
    }
    .menu{
        grid-area: nav;
        display: none;
        position: fixed;
        border-radius: 2px 2px 10px 10px;
        background: white;
        box-shadow: #0000003d 0px 3px 8px;
        font-family: 'Comfortaa', cursive;
        height: 0;
        width: 100%;
        transition: height 7s ease-out;
    }
    .nav_menu{
        display: flex;
        flex-direction: column;
        gap: 1.5em;  
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        color: #3a2903;
        font-size: 1.2rem;
    } 
    .nav_input:checked +.menu{
        position: absolute;
        top: .1rem;
        bottom: 0;
        height: fit-content;
        display: block;
    }
    .nav_item{
        color: #3a2903;
    }
    .sub_menu{
        height: 100px;
        width: 150px;
        grid-area: nav;
        display: flex;
        flex-direction: column;
        gap: 1em;  
        padding-top: 1rem;
        padding-left: .5rem;
        justify-content: baseline;
        align-items: baseline;
        color: #3a2903;
        font-size: 1.5rem;
    }
    .sub_item{
        color: #3a2903;
        font-size: 1rem;
    }
    .top{
        grid-area: top;
        height: 30rem;
        background-image: url(../assets/bg.jpg);
        color: beige;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.3fr 1fr 1fr;
        grid-template-areas: "empty" "texto" "wave";
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .empty{
        grid-area: empty;
        height: 5rem;
    }
    .text{
        grid-area: texto;
    }
    .top h1{
        font-size: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .top p{
        font-size: 1rem;
        padding: 10px 3rem 5px 3rem;
    }
    .wave{
        grid-area: wave;
        padding-top: 30px;
        height: 9.5rem;
    }
    .legend{
        font-size: 1.5rem;
        text-align: center;
        padding-top: 2rem;
        z-index: 1;
    }
    .swiper{
        display: block;
    }
    .card{
        background-color: #ffffff;
        width: 20em;
        height: 30rem;
        padding: 2em 1em;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 2em;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .card_image{
        width: 10em;
        height: 10em;
        border-radius: 50%;
        border: 5px solid #3a2903;
        padding: 3px;
        margin-bottom: 2em;
    }
    .card_image img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .card_content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .card_title{
        font-size: 1.5rem;
        color: #3a2903;
    }
    .card_name{
        font-size: 1.3rem;
    }
    .card_text{
        text-align: center;
        margin: 1em 0;
    }
    .card_btn{
        border: 0;
        border-radius: 20px;
        padding: .6em;
        margin-top: .5em;
        background-color: #3a2903;
        color: beige;
        text-transform: uppercase;
    }
    .swiper{
        display: none;
    }
    footer{
        overflow-x: hidden;
        grid-area: footer;
        width: 100%;
        height: 9rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "name icons" 
        "menuFoot icons"
        "menuFoot form"
        "copy copy";

        background-color: #ad9a6fff;
    }
    .foot_logo{
        grid-area: name;
        font-size: 1.5rem;
        color: #3a2903;
    }
    .foot_nav{
        grid-area: menuFoot;
        font-family: 'comfortaa', cursive;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
    }
    .foot_menu{
        display: flex;
        flex-direction: row;
        color: rgb(58, 41, 3);
    }
    .foot_menu>li{
        padding: 1em;
        font-weight: bold;
    }
    .foot_sub{
        padding-left: .5em;
        display: flex;
        flex-direction: column;
    }
    .foot_sub>li{
        padding: .6em 0 0 0;
        font-weight: 300;
    }
    .icons{
        height: fit-content;
        grid-area: icons;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 4em;
        padding-left: 11em;
    }
    .icons>img{
        height: 10px;
    }
    .icons>a{
        padding-left: 1em ;
    }
    .subscribe{
        grid-area: form;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 8em;
        padding-bottom: 1em;
    }
    form{
        border-radius: 10px;
        background-color: white;
        height: 14em;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
    }
    form h1{
        font-size: 1em;
        padding: .7em .7em 0 .7em;
        color: #3a2903;
    }
    fieldset{
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .name, .mail, .button{
        padding: .6em;
    }
    .subscribe input{
        padding: .7em;
        font-family: 'Comfortaa', cursive;
        border: none;
        background-color: white;
        border-bottom: 2px solid gray;
        transition: all 1s ease-out;
    }    
    .send{
        padding: 1em;
        border: none;
        border-radius: 10px;
        background: linear-gradient(to right, #9e5023, #cc8e6d);
        color: white;
        cursor: pointer;
        transition: all .8s ease-out;
    }
    .send:hover{
        color: #3a2903;
    }
    .copy{
        padding-top: 1em;
        grid-area: copy;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;
        text-align: center;
        font-size: 1em;
        color: #3a2903;
    }
    
}
@media(min-width:900px){
    body{
        overflow-x: hidden;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "navs" 
        "top" 
        "slider" 
        "footer";
    }
    .nav_label, .nav_input{
        display: none;
    }
    .nav_input:checked + .nav_menu{
        display: none;
    }
    header{
        grid-area: navs;
        height: 80px;
        width: 100%;
        background-color: #3a290383;
        position: fixed;
        z-index: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "logo menu";
        align-items: center;
    }
    .nav_logo{
        font-family: 'Poppins', sans-serif;
        font-size: 3.5rem;
        padding-left: 40px;
        grid-area: logo;
        color: beige;
    }
    .menu{
        font-family: 'Comfortaa', cursive;
        color: #3a2903;
        font-size: 1.1rem;
    }
    .nav_menu{
        grid-area: menu;
        display: flex;
        flex-direction: row;
        gap: 3em;  
        align-items: flex-end;
        justify-content: center;
    }
    .nav_item{
        color: beige;
    }
    .nav_item:hover{
        color: white;
        transition: all 0.8s ease-out;

    }
    .sub_menu{
        display: none;
        height: 100px;
        width: 150px;
    }
    .books:hover .sub_menu{
        position: absolute;
        border-radius: 10px;
        display: grid;
        grid-auto-flow: row;
        gap: .5em;
        align-items: center;
        justify-content: center;
        background-color: #9e8752b0;
        animation-delay: .3s;

    }
    .sub_item {
        color: white;
    }
    .sub_item:hover{
        color: #3a2903;
    }
    .top{
        grid-area: top;
        height: 55em;
        width: 100%;
        background-image: url(../assets/bg.jpg);
        color: beige;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "empty" "texto" "wave";
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .empty{
        grid-area: empty;
    }
    .text{
        grid-area: texto;
    }
    .top h1{
        font-size: 3.5rem;
    }
    .top p{
        font-size: 1.1em;
        padding: 5px 6rem 5px 6rem;
    }
    .wave{
        grid-area: wave;
        padding-top: 30px;
        height: 15rem;
    }
    .legend{
        padding-top: 1.1em;
        font-size: 2rem;
        text-align: center;
        color: #3a2903;
    }
    .swiper {
        padding: 0 5rem 0 5rem;
        width: 90%;
        display: flex;
        height: 40em;
    }
    .swiper-wrapper {
        grid-area: slider;
        flex-direction: row;
        align-items: center;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
    .card{  
        width: 10em;
        height: 30rem;
        padding: 2em 2em;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 2em;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .card_image{
        width: 7em;
        height: 7em;
        border-radius: 50%;
        border: 5px solid #3a2903;
        padding: 3px;
        margin-bottom: 2em;
    }
    .card_image img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .card_content{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #3a2903;
    }
    .card_title{
        font-size: 1.5rem;
    }
    .card_name{
        font-size: 1.1rem;
    }
    .card_text{
        text-align: center;
        margin: 1em 0;
        font-size: .9em;
        color: #3a2903;
    }

    .swiper-button-next, .swiper-button-prev, i{
        color: #3a2903;
    }
    footer{
        grid-area: footer;
        width: 100%;
        height: 26rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "name icons" 
        "menuFoot icons"
        "menuFoot form"
        "copy copy";

        background-color: #ad9a6fff;
    }
    .foot_logo{
        grid-area: name;
        font-size: 2rem;
        padding: .5em 0 0 2em;
        color: #3a2903;
    }
    .foot_nav{
        grid-area: menuFoot;
        font-family: 'comfortaa', cursive;
        font-size: 1.1rem;
        padding: .6em 0 0 2.5em;
        display: flex;
        flex-direction: row;
    }
    .foot_menu{
        display: flex;
        flex-direction: row;
        color: rgb(58, 41, 3);
    }
    .foot_menu>li{
        padding: 1em;
        font-weight: bold;
    }
    .foot_sub{
        padding-left: .5em;
        display: flex;
        flex-direction: column;
    }
    .foot_sub>li{
        padding: .6em 0 0 0;
        font-weight: 300;
    }
    .icons{
        height: fit-content;
        grid-area: icons;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 4em;
        padding-left: 11em;
    }
    .icons>a{
        padding-left: 1em ;
    }
    .subscribe{
        grid-area: form;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 8em;
        padding-bottom: 1em;
    }
    form{
        border-radius: 10px;
        background-color: white;
        height: 14em;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
    }
    form h1{
        font-size: 1em;
        padding: .7em .7em 0 .7em;
        color: #3a2903;
    }
    fieldset{
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .name, .mail, .button{
        padding: .6em;
    }
    .subscribe input{
        padding: .7em;
        font-family: 'Comfortaa', cursive;
        border: none;
        background-color: white;
        border-bottom: 2px solid gray;
        transition: all 1s ease-out;
    }    
    .send{
        padding: 1em;
        border: none;
        border-radius: 10px;
        background: linear-gradient(to right, #9e5023, #cc8e6d);
        color: white;
        cursor: pointer;
        transition: all .8s ease-out;
    }
    .send:hover{
        color: #3a2903;
    }
    .copy{
        padding-top: 1em;
        grid-area: copy;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;
        text-align: center;
        font-size: 1em;
        color: #3a2903;
    }

}

    
