    main .books{
        overflow: hidden;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "search"
        "nytimes"
        "booktok"
        "footer";
    }
    .search{
        grid-area: search;
        width: 100%;
        height: 27em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: linear-gradient(to left, #A67C5B, #decfac );
    }
    .search h1{
        margin-top: 3em;
        font-size: 2.5em;
        color: beige;
    }    
    .bar{
        margin-top: 3em;
        width: 50%;
        height: 3.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 1em;
        background-color: white;
        border-radius: 50px;
        font-size: 1.2em;
    }
    .look{
        padding-right: 1em;
        padding-left: 1em;
    }
    .search button{
        border: none;
        background: none;
    }
    .text input{
        font-family: 'comfortaa', cursive;
        font-size: 1em;
        background: none;
        border: none;
        color: #3a2903;
        width: 20em;
    }
    .recs_top {
        padding-top: 5em;
        display: flex;
        flex-direction: row;
        gap: 4em;
        height: 100%;
    }
    .recs {
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        gap: 4em;
    }
    .rec{
        height: 15em;
        width: 17em;
        background: beige;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        text-align: center;
        padding: 1em;
    }
    .rec_content{
        height: 100%;
    }
    .rec_content h3{
        font-weight:lighter;
    }
    .rec img{
        height: 14em;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 20px;
        margin-top: 1em;
    }
    .nytimes{
        margin-top: 18em;
        grid-area: nytimes;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nytimes h1{
        font-size: 2.5em;
    }

    .booktok{
        padding-top: 8em;
        padding-bottom: 2em;
        grid-area: booktok;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .booktok h1{
        font-size: 2.5em;
    }


    
