.section{
    margin: 2em 0em 0 4em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 1em;
}
.t{
    visibility: hidden;
}

.collect{
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    padding: 1em;
    align-items: flex-end;
    justify-items: center;
    width: 250px;
    height: 10em;
    background-color: beige;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .bookcov{
        border-radius: 20px;
        height: 12em;
        margin-right: 1em;
    }
    .bookcov img{
        max-height: 100%;
        border-radius: 20px;
    }

}