.main{
    margin-top: 8em;
}
.dropdown{
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 90%;
    height: 3em;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    text-transform:uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    background: #decfac;
    color: #3a2903;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  
    transition: all .5s ease-in;  

}
.btn:hover{
    background: #3a2903;
}
.p-4{
    width: 90%;
    text-align: left;
    font-family: 'comfortaa', cursive;

} 